<template>
  <div>
    <p><iframe src="ros2d.html" width="620" height="520" seamless></iframe></p>
    <p>Your message: {{user_input}} </p>
    </div>

</template>

<script>
export default {
    data: function() {
    return {
    user_input: '',
      }
    },
    methods: {
      user_input_cb (message){
      this.user_input = message.data;
    },
   },
    mounted(){
        var base_websocket = 'ws://'
        var host = window.location.host
        var ros_ip = host.split(":")
        var websocket_url = base_websocket + ros_ip[0] + ":9090"
        var ros = new this.$ROSLIB.Ros({
            url : websocket_url
        });

        ros.on('connection',function() {
            console.log('Connected to websocket server.');
        });
    
    var User_Input_listener = new this.$ROSLIB.Topic({
        ros : ros,
        name : '/map/user_input',
        messageType : 'std_msgs/String'
    });
    var User_Out = new this.$ROSLIB.Topic({
	ros: ros,
	name: '/map/user_out',
	messageType: 'std_msgs/String'
    });
    User_Input_listener.subscribe(this.user_input_cb);
    var message= new this.$ROSLIB.Message({
	data:'You are at the publish topic!'
    });
    User_Out.publish(message);
   }
}
</script>

